<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>404</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" href="../static/img/404.ico"/>
	</head>
	<body>
		<div class="error">
			<div class="sign">⚠</div>
			<div class="code">404</div>
			<div class="detail">There's nothing here</div><br />
			<div class="info">Sorry, the page you were looking for does not exist.</div>
		</div>
		<style type="text/css">
			body{
				background-color: #000000;
				color: red;
				font-family: 'Consolas';
			}.error{
				margin: auto;
				text-align: center;
				font-size: 20px;
			}.sign{
				font-size: 66px;
				margin-top: 100px;
				line-height: 100px;
			}.code{
				font-size: 120px;
			}.detail{
				font-style: inherit;
				font-size: 36px;
			}
		</style>
	</body>
</html>
